//  cursor
.cursor {
  $width: 30px;

  @media (any-hover: hover) {
    width: $width;
    height: $width;
    outline: 1px solid white;
    border-radius: 50%;
    position: absolute;
    transition: all 100ms ease-out;
    pointer-events: none;

    z-index: 1002;
    opacity: 0;
  }

  &.active {
    opacity: 1;
  }

  &.is-animating {
  }

  &.animating-click {
    @media (any-hover: hover) {
      animation: 0.5s easeout-large ease-in;
    }
  }

  @keyframes easeout-large {
    from,
    to {
      opacity: 1;
      outline-offset: 0;
    }

    49% {
      opacity: 0;
      outline-offset: 0.5rem;
    }

    51% {
      opacity: 0;
      outline-offset: -0.5rem;
    }
  }
}
