@import "../abstract/_breakpoints.scss";

.hero-image {
  position: relative;
  // &::after {
  //   content: "";
  //   inset: 0 0 100% 0;
  //   // border-top: 0.5px solid var(--accent);
  //   position: absolute;
  //   z-index: 1;
  // }
}

.blog {
  &__grid {
    --grid-position: 1/1/1/1;
    --aspect-ratio: 1/1;

    display: flex;
    flex-wrap: wrap;
    // position: relative;

    @include bp(medium) {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    & > * {
      // grid-column: var(--column);

      width: 100%;

      @include bp(medium) {
        grid-area: var(--grid-position);
      }

      // position: relative;

      // &::before,
      // &::after {
      //   content: "";
      //   position: absolute;
      //   pointer-events: none;

      //   // border: 1px solid var(--accent);
      //   inset: -0.5px;
      // }

      // &:first-child {
      //   padding: 10%;

      //   @include bp(medium) {
      //     width: 66.666%;
      //   }
      // }

      img,
      video {
        aspect-ratio: var(--aspect-ratio);
        width: 100%;
        object-fit: cover;
      }
    }
  }

  &__media {
    height: 100%;
    display: flex;
  }
}
