.hero-image {
  width: 100%;
  max-width: initial;

  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(0, 0, 0, 0.65)),
    color-stop(100%, rgba(0, 0, 0, 0))
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 100%
  ); /* IE10+ */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

  &__img {
    max-width: initial;
    width: 100%;
    // max-height: 480px;
    // min-height: 430px;
    // height: 480px;
    object-fit: cover;
    position: relative;
    z-index: -1;

    @include bp(small) {
      object-position: center 25%;
    }
  }

  .hero__close {
    // outline: 1px solid red;
    position: absolute;
    z-index: 10;

    overflow: hidden;

    width: 40px;
    height: 40px;
    right: 6%;
    top: 6vw;
  }
}

.hero-image {
  height: 100%;

  &__deco {
    max-width: 480px;
    width: 100%;
    margin: auto;
  }

  &__wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    margin-bottom: 50px;

    @include bp(small) {
      margin-bottom: 100px;
    }
  }

  &__container,
  &__deco {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
  }

  &__deco {
    z-index: 1;
    width: 100%;
    display: flex;
    margin-bottom: clamp(25px, 10%, 100px);
    align-items: center;
  }

  &__content {
    &.visible-small {
      margin-bottom: 50px;
      display: block;
      @include bp(small) {
        display: none;
      }
    }
    &.visible-large {
      display: none;
      @include bp(small) {
        display: initial;
      }
    }
  }

  &__text {
    display: flex;
    max-width: 320px;
    letter-spacing: 0.28px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__gradient {
    inset: 0;
    z-index: 1;

    background: linear-gradient(
      175deg,
      rgba(217, 217, 217, 0) 15%,
      rgba(0, 0, 0, 0.82) 101%
    );
    background-blend-mode: multiply;
  }

  &__hi,
  &__info {
    position: absolute;

    @include bp(medium) {
      position: fixed;
    }
  }

  &__hi {
    left: 12.5%;
    top: 12.5%;
    @include bp(small) {
      left: 6%;
      top: initial;
    }
  }

  &__info {
    right: 12.5%;
    bottom: 12.5%;
    @include bp(small) {
      right: 6%;
      bottom: initial;
    }
  }
}
