@use "components";
@use "utils";
@import "./abstract/_breakpoints.scss";

@import "font/index";
:root {
  --accent: white;
  --accent-dark: rebeccapurple;
  --background: #0a0a0a;
  --black: 15, 18, 25;
  --white: 255, 255, 255;
  --gray: 96, 115, 159;
  --gray-light: 229, 233, 240;
  --gray-dark: 34, 41, 57;

  --box-shadow: 0 2px 6px rgba(var(--gray), 25%),
    0 8px 24px rgba(var(--gray), 33%), 0 16px 32px rgba(var(--gray), 33%);
}

* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

html,
a {
  cursor: none !important;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;

  font-family: "Archivo", sans-serif;
  margin: 0;
  padding: 0;
  text-align: left;
  background: var(--background);
  word-wrap: break-word;
  overflow-wrap: break-word;

  font-size: 0.875rem;

  line-height: 1.7;
  color: rgb(var(--white));

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  padding-top: 88px;

  @include bp(medium) {
    padding-top: 9.5rem;
  }
}
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;

  display: block;
}
code {
  padding: 2px 5px;
  background-color: rgb(var(--gray-light));
  border-radius: 2px;
}
pre {
  padding: 1.5em;
  border-radius: 8px;
}
pre > code {
  all: unset;
}
blockquote {
  border-left: 4px solid var(--accent);
  padding: 0 0 0 20px;
  margin: 0px;
  font-size: 1.333em;
}
hr {
  border: none;
  border-top: 1px solid rgb(var(--gray-light));

  width: 100vw;
  margin-left: -17%;

  @include bp(small) {
    width: inherit;
    margin-left: 0;
  }
}

@media (max-width: 720px) {
  body {
    font-size: 18px;
  }
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}

.container {
  background: red;
  * {
    max-width: 25%;
  }
}

.prose {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 330px;
  max-width: 75%;

  @include bp(small) {
    max-width: 480px;
  }
}

.is-animating {
  pointer-events: none;
  .entering {
    position: fixed;
  }
}

[data-barba="container"] {
  $animation-duration: 1.15s;
  $animation-offset-timing: 0.1s;
  $animation-timing-fn-in: cubic-bezier(1, 0, 0.3, 1);
  $animation-timing-fn-out: cubic-bezier(1, 0, 0.3, 1);

  width: 100%;

  &.next {
    pointer-events: none;

    [data-slide] {
      transition: all $animation-duration $animation-timing-fn-in;
      transition-delay: calc(
        var(--timing-offset) * $animation-offset-timing / 2
      );
      transform: translateX(100vw);
    }

    &.entering {
      [data-slide] {
        transform: translateX(0);
      }
    }
  }

  &.current {
    // outline: 5px solid cyan;
    [data-slide] {
      transform: translateX(0%);
    }
    &.leaving {
      [data-slide] {
        transition: all $animation-duration $animation-timing-fn-out;
        transition-delay: calc(
          var(--timing-offset) * $animation-offset-timing / 3
        );
        transform: translateX(-100vw);
      }
    }
  }
}

.title {
  margin-bottom: 1.25rem;
}
.date {
  margin-bottom: 2rem;
}

.blog__base {
  padding-top: 50px;

  @include bp(small) {
    padding-top: 100px;
  }
}

hr {
  margin-bottom: 100px;
}

.events-disabled {
  pointer-events: none;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.darken {
  opacity: 0.5;
}
