---
import { getCollection } from "astro:content";
import ProjectList from "../components/ProjectList.astro";
import Layout from "../layouts/Layout.astro";

const formatDate = (date: string): number => {
  const yearSeparator = "-"
  return +date.split(yearSeparator)[0];
};

const posts = (await getCollection("blog")).sort((prev, next) => {
  return next.data.order.valueOf() - prev.data.order.valueOf()
});
---

<Layout
  description="I’m Mikołaj Madejski. Passionate creator of media. I do designs."
>
  <main data-barba="container" data-barba-namespace="opacity-transition">
    <article>
      <section>
        <ProjectList posts={posts} />
      </section>
    </article>
  </main>
</Layout>

<script>

</script>
