---
import { Image, type LocalImageProps } from "astro:assets";
import type { Props as VideoProps } from "./BaseVideo.astro";
import BaseVideo from "./BaseVideo.astro";
import placeholder from "./ui/icons/Icon _ Logo.svg";

interface Props {
  image: unknown;
  video?: VideoProps;
  noEvents?: boolean;
}

const { image, video, noEvents } = Astro.props;
---

<div class:list={["image-video-switch", { "events-none": noEvents }]}>
  {video?.src && <BaseVideo {...video} class="image-video-switch__video" />}
  <Image
    alt="no alt"
    src={image?.src || placeholder}
    class:list={[
      "image-video-switch__image",
      image?.class,
      { placeholder: !image?.src },
    ]}
  />
</div>
