---
import type { CollectionEntry } from "astro:content";
import ProjectThumbnail from "./ProjectThumbnail.astro";

interface Props {
  posts: CollectionEntry<"blog">[];
}

const { posts } = Astro.props;
---

<div class="project-list">
  {
    posts.map((post, index) => {
      return (
        <div
          class:list={["conjoined-height-grid__element project-list__item"]}
          data-slide
        >
          <ProjectThumbnail
            slug={post.slug}
            title={post.data.title}
            image={post.data.heroImageThumbnail || post.data.heroImage}
            video={{
              src: post.data.heroVideoThumbnail || post.data.heroVideo,
            }}
            date={post.data.pubDate}
            description={post.data.description}
          />
        </div>
      );
    })
  }
</div>
