---
const { class: className } = Astro.props;
---

<div
class="anim--logo_icon"
data-lottie-data={JSON.stringify({
  id: "logo_icon",
  src: "/assets/animations/logo_icon.json",
  autoplay: false,
  loop: false,
})}
>
</div>

<style lang="scss">
  .anim--logo_icon {
    width: 6rem;
  }
</style>
